{# 'myfirm/myfirm_show.html.twig' #}

{% extends "customers/firm_show.html.twig" %}

{# comment %}
    podgląd danych własnych
{% endcomment #}


{% block base_form_main_head_div %}
    <div class="alert alert-info" role="alert">
        Dane własne (wystawiającego fakturę)
    </div>
{% endblock %}
