{# 'customers/customer_show.html.twig' #}

{% extends "customers/firm_show.html.twig" %}

{# comment %}
    podgląd danych klienta
{% endcomment #}

{% block base_form_main_head_div %}
    <div class="alert alert-info" role="alert">
        Dane klienta
    </div>
{% endblock %}
