{# 'customers/customers_main.html.twig' #}

{% extends "base/base_nonav.html.twig" %}

{# comment %}
    lista klientów
{% endcomment #}

{% block base_nav_main_div %}

    <div class="alert alert-info" role="alert">
        Klienci
    </div>

    {% if customers_objs %}

        {% for customer_obj in customers_objs %}

            <h1>
                <a href="{{ path('customer_show', {customer_id: customer_obj.id}) }}">
                    <span class="badge badge-dark">{{ customer_obj.fname }}</span>
                </a>
            </h1>
            <br>

        {% endfor %}

        {#<!-- sprawdzam czy jest paginator -->#}
        {{ knp_pagination_render(customers_objs) }} 

    {% else %}
        <div class="alert alert-info" role="alert">
            lista jest pusta, dodaj pierwszego klienta
        </div>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('customer_add_edit') }}" role="button">dodaj klienta</a>
    <br><br>

    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">Wyjdź</button>

{% endblock %}
