{# 'customers/customer_edit.html.twig' #}

{% extends "customers/firm_edit.html.twig" %}

{# comment %}
    edycja danych klienta
{% endcomment #}


{% block base_form_main_head_div %}
    <div class="alert alert-info" role="alert">
        Edycja danych klienta
    </div>
{% endblock %}
