{# 'items/items_list.html.twig' #}

{% extends "base/base_nonav.html.twig" %}

{# comment %}
    lista towarów
{% endcomment #}

{# load proper_paginate #}

{% block base_nav_main_div %}

    <div class="alert alert-info" role="alert">
        Towary
    </div>

    {% if items_list|default %}
        <table class="table">
            <tr>
                <th>nazwa</th>
                <th>cena netto</th>
                <th>jm</th>
                <th>vat</th>
            </tr>
            {% for item_one in items_list %}
                <tr>
                    <td style="width:55%">{{ item_one.name }}</td>
                    <td style="width:20%">{{ item_one.priceNetto }} PLN</td>
                    <td style="width:10%">{{ item_one.jm.name }}</td>
                    <td>{{ item_one.vat.percent }} %</td>
                </tr>
            {% endfor %}

            {#<!-- sprawdzam czy jest paginator -->#}
            <tr>
                <td colspan="4">
                    {{ knp_pagination_render(items_list) }} 
                </td>
            </tr>

        </table>

    {% else %}
        <div class="alert alert-warning" role="alert">
            towarów brak - przyjęcie towaru proponuje
        </div>
    {% endif %}

    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">Wyjdź</button>

{% endblock %}
