{# 'base/alert_modal.html.twig' #}

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Znaleziono błędy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for one in errors_message_list %}
                        <li>{{ one }}</li>
                    {% endfor %}
                </ul>
            </div>
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary">OK</button>-->
<!--      </div>-->
        </div>
    </div>
</div>
