{# 'base/base_form_twocolumns_onebutton.html.twig' #}

{% extends "base/base_form_twocolumns_mid.html.twig" %}

{# comment %}
    forma z dwoma kolumnami i przyciskiem OK
{% endcomment #}


{% block base_form_main_lower_buttons %}

    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">OK</button>

{% endblock %}
