{# 'base/base_basic_libs.html.twig' #}

{% extends "base/base_basic_sote.html.twig" %}


{% block base_head_rest %}

    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->

    <!-- ======================================== pobrane ================================================== -->
    
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.min.js"></script>-->

    <link rel="stylesheet" href="{{ asset('/out_libs/bootstrap/4.3.1/css/bootstrap.min.css') }}">
    <script src="{{ asset('/out_libs/ajax/libs/jquery/3.4.0/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/out_libs/ajax/libs/popper.js/1.14.7/umd/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/out_libs/bootstrap/4.3.1/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('out_libs/ajax/libs/angularjs/1.6.9/angular.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('out_libs/ajax/libs/angularjs/1.6.9/angular-cookies.min.js') }}" type="text/javascript"></script>

    <!-- =================================================================================================== -->

    <link rel="stylesheet" href="{{ asset('css/_style_base_page.css') }}">

    {% block base_basic_style %}{% endblock %}
    {% block base_basic_head_scripts %}{% endblock %}

{% endblock %}


{% block base_body_rest %}

    {% block base_basic_navigation %}{% endblock %}
    {% block base_basic_main %}{% endblock %}
    {% block base_basic_footer_scripts %}{% endblock %}

{% endblock %}
