{# 'base/base_form_twocolumns_twobuttons.html.twig' #}

{% extends "base/base_form_twocolumns_mid.html.twig" %}

{# comment %}
    forma z dwoma kolumnami i przyciskami zapisz/anuluj
{% endcomment #}


{% block base_form_main_lower_buttons %}

    <button type="submit" name="action" value="OK" class="btn btn-primary btn">Zapisz</button>
    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">Wyjdź</button>

{% endblock %}
