{# 'base/base_form_onecolumn_mid.html.twig' #}

{% extends "base/base_nonav.html.twig" %}

{# comment %}
    forma z dwoma kolumnami
{% endcomment #}


{% block base_nav_main_div %}

    <div class="container">

        <div class="row">
            <div class="col-sm">

                {% block base_form_main_upper_div %}{% endblock %}

            </div>
        </div>

        <div class="row">
            <div class="col-sm">

                {% block base_form_main_center_div %}{% endblock %}

            </div>
        </div>

        <div class="row">
            <div class="col-sm">

                {% block base_form_main_lower_div %}{% endblock %}

            </div>
        </div>

        <div class="row">
            <div class="col-sm">

                {% block base_form_main_lower_buttons %}{% endblock %}

            </div>
        </div>

    </div>

{% endblock %}
