{# 'invoices/invoice_edit.html.twig' #}

{% extends 'invoices/invoice_edit_common.html.twig' %}

{# comment %}
    edycja faktury, wybieranie przedmiotu do dodania
{% endcomment #}


{% block base_left_part_for_item_select %}

    {% if invoices_items_richer %}

        <table class="table">

            {% for invoice_item in invoices_items_richer %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td style="width:30%" colspan="3"><h4><span class="badge badge-dark">{{ invoice_item.name }}</span></h4></td>
                    <td>
                        <a href="{{ path('invoice_del_item', {invoice_id:invoice.id, item_id:invoice_item.id, iid:invoice_item.iid}) }}">
                            <ion-icon ios="ios-trash" md="md-trash" style="font-size: 32px;"></ion-icon>
                        </a>
                    </td>
                    <td style="text-align:right;">{{ invoice_item.items_number }} {{ invoice_item.jm }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td>{{ invoice_item.price_netto }}</td>
                    <td>{{ invoice_item.price_brutto }}</td>
                    <td>{{ invoice_item.value_netto }}</td>
                    <td>{{ invoice_item.vat }}</td>
                    <td>{{ invoice_item.value_brutto }}</td>
                </tr>
                
            {% endfor %}

        </table>


        <br>

    {% else %}
        <div class="alert alert-info" role="alert">
            faktura nie zawiera żadnych pozycji
        </div>
    {% endif %}
    
    <button type="submit" name="action" value="add_item" class="btn btn-success btn">Dodaj pozycję do faktury</button>
    <br><br><br>


{% endblock %}

