{# 'invoices/invoice_add.html.twig' #}

{% extends "base/base_nonav.html.twig" %}

{# comment %}
    nowa faktura, wyszukiwanie klienta
{% endcomment #}

{% block base_nav_main_div %}

    <div class="alert alert-info" role="alert">
        Tworzenie nowej faktury, wyszukaj nabywcę.<br>
        Podaj przynajmniej 3 znaki, zawierające się w numerze NIP, REGON lub PESEL.
        Wyświetlonych zostanie kilka znalezionych firm.
        Jeśli na liście jest poszukiwana, kliknij ją, jeśli nie wpisuj dalej numer identyfikujący.
    </div>

    <div ng-app="myApp" ng-controller="custCtrl">
        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="input-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">nazwa, NIP, REGON lub PESEL:</span>
                        </div>
                        <input type="text"
                               id="lookfor"
                               class="form-control"
                               aria-describedby="inputGroup-sizing-sm"
                               ng-model="lookfor"
                               ng-change="myFunc()"
                        >
                    </div>
                </div>
            </div>

            {% verbatim %}
                <div ng-if="item_list.length>0 && item_list.length< 10">
            {% endverbatim %}
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in item_list">

                            <a href="{{ path('invoice_add') }}/{% verbatim %}{{ item['id'] }}/">
                                <h3><span class="badge badge-info">{{ item['fname'] }}</span></h3>
                            </a>{% endverbatim %}
                        </li>
                    </ul>

                </div>

        </div> <!-- container -->
    </div> <!-- AngularJS -->

{% endblock %}

{% block base_basic_footer_scripts %}

    <script type="text/javascript">
        var angular_url = '{{ absolute_url(path('angular_url')) }}';
    </script>

    <script src="{{ absolute_url(asset('js/mangular_customer.js')) }}" type="text/javascript"></script>
    
{% endblock %}
