{# 'invoices/invoices_list.html.twig' #}

{% extends "base/base_nonav.html.twig" %}

{# comment %}
    lista faktur
{% endcomment #}

{% block base_nav_main_div %}

    <div class="alert alert-info" role="alert">
        Faktury
    </div>

    {% if invoices_objs %}
        <table class="table" style="width:100%;border-style: solid;border-width: 1px;">
            <tr>
                <th style="width:25%">nr</th>
                <th>nabywca</th>
                <th>kwota netto</th>
                <th>utworzona</th>
                <th>term.dostarczenia</th>
            </tr>
            {% for invoice_obj in invoices_objs %}
                <tr>
                    <td>
                        <h4>
                            <a href="{{ path('invoice_show', {'invoice_id': invoice_obj.id}) }}{# path('invoice_show', {invoice_id: invoice_obj.id}) #}">
                                {% if invoice_obj.nr %}
                                    <span class="badge badge-dark">{{ invoice_obj.nr }}</span>
                                {% else %}
                                    <span class="badge badge-danger">faktura bez numeru</span>
                                {% endif %}
                            </a>                            
                        </h4>
                    </td>
                    <td>
                        {{ invoice_obj.customer.fname }}
                    </td>
                    <td>
                        {{ invoice_obj.priceSumNetto }} PLN
                    </td>
                    <td>
                        {{ invoice_obj.dtCreated|date('Y-m-d') }}
                    </td>
                    <td>
                        {{ invoice_obj.dtDelivery|date('Y-m-d') }}
                    </td>

                </tr>
            {% endfor %}
       </table>

        {#<!-- sprawdzam czy jest paginator -->#}
        {{ knp_pagination_render(invoices_objs) }} 

    {% else %}
        <div class="alert alert-info" role="alert">
            lista jest pusta, dodaj pierwszą fakturę
        </div>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('invoice_add') }}" role="button">dodaj fakturę</a>
    <br><br>

    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">Wyjdź</button>

{% endblock %}
