{# 'invoices/invoice_delete.html.twig' #}

{% extends "invoices/invoice_show_common.html.twig" %}

{# comment %}
    faktura finalnie
{% endcomment #}


{% block base_form_main_lower_buttons %}

    <button type="submit" name="action" value="delete" class="btn btn-danger btn">Usuń</button>
    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">Wyjdź</button>

{% endblock %}
