{# 'invoices/invoice_add_item_choice.html.twig' #}

{% extends 'invoices/invoice_edit_common_pure.html.twig' %}

{# comment %}
    edycja faktury, wybieranie przedmiotu do dodania
{% endcomment #}


{% block base_left_part_for_item_select %}

    {# ------------------------------------ usługi/towary ------------------------------------- #}

    <div ng-app="myApp" ng-controller="custCtrl">
        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="alert alert-info" role="alert">
                        Dodaj pozycję do faktury, rozpocznij wpisywanie nazwy:<br>
                        Aby zobaczyć wszystkie towary, kliknij <a href="{{ path('items_list') }}" target="_blank">tutaj</a> ( otworzy się osobne okno ).
                    </div>

                    <div class="input-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing">nazwa towaru:</span>
                        </div>
                        <input type="text"
                               id="lookfor"
                               class="form-control"
                               aria-describedby="inputGroup-sizing-sm"
                               ng-model="lookfor"
                               ng-change="myFunc()"
                        >
                    </div>
                </div>
            </div>

            {% verbatim %}
                <div ng-if="item_list.length>0 && item_list.length< 10">
            {% endverbatim %}
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in item_list">

                            <a href="{{ path('invoice_add_item_choice', {invoice_id:invoice.id}) }}/{% verbatim %}{{ item[0] }}/">
                                <h3><span class="badge badge-info">{{ item[1] }}</span></h3>
                            </a>{% endverbatim %}
                        </li>
                    </ul>
                </div>
        </div> <!-- container -->
    </div> <!-- AngularJS -->
    <br>

    <script type="text/javascript">
        var angular_url = '{{ absolute_url(path('angular_url')) }}';
    </script>

    <script src="{{ absolute_url(asset('js/mangular_item.js')) }}" type="text/javascript"></script>

    {# --------------------------------------------------------------------------------- #}
    {% if invoices_items_richer %}

        <table class="table">

            {% for invoice_item in invoices_items_richer %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td style="width:30%" colspan="3"><h4><span class="badge badge-dark">{{ invoice_item.name }}</span></h4></td>
                    <td>
                        <a href="{# url 'invoice_del_item' invoice.id invoice_item.id invoice_item.iid #}">
                            <ion-icon ios="ios-trash" md="md-trash" style="font-size: 32px;"></ion-icon>
                        </a>
                    </td>
                    <td style="text-align:right;">{{ invoice_item.items_number }} {{ invoice_item.jm }}</td>
                </tr>

            {% endfor %}

        </table>


        <br><br><br>

    {% else %}
        <div class="alert alert-info" role="alert">
            faktura nie zawiera żadnych pozycji
        </div>
    {% endif %}
    {# --------------------------------------------------------------------------------- #}


{% endblock %}

{% block base_form_main_lower_buttons %}

    <button type="submit" name="action" value="Cancel" class="btn btn-secondary btn">Wyjdź</button>

{% endblock %}
